Hello {{.FirstName}} {{.LastName}}


{{.Message}}
The request for your AS {{.AS}} to be {{.Operation}} from the attachment point {{.AP}} could not be completed. 
You probably want to check the configuration for your AS in the Coordinator. Ensure you select the option to Update and Download the ScionLab Configuration after reviewing it.
If the problem persists, please contact the ScionLab Administrators.

Please visit {{.HostAddress}}/#/user for further details on the current status of your AS.

Best regards,
SCIONLab Coordination Service
