Dear {{.FirstName}} {{.LastName}}

SCION [1] is a revolutionary new architecture for the internet, which is designed to replace the existing architecture in the future.

{{.InvitorFirstName}} {{.InvitorLastName}} invites you to join the network and discover its numerous exciting features by signing up for your very own SCIONLab AS.

If you are interested, sign up by using the pre-approved link below [2]; we are very much looking forward to welcoming you in our network.

Best regards
SCIONLab Coordination Service

[1] https://www.scion-architecture.net
[2] http://{{.HostAddress}}/#/setPassword/{{.UUID}}
