scion-coord
vendor/*/
temp/
credentials/
conf/development.conf
public/img/topology_no_labels.gv.png
vagrant/scion_install_script.sh
vagrant/.vagrant/
vagrant/scion-base.box
vagrant/ubuntu-xenial-*.log
