[Unit]
Description=SCION infrastructure upgrade
After=network-online.target
Wants=network-online.target scion.service
# We want to update scion before starting
Before=scion.service

[Service]
Type=oneshot
RemainAfterExit=no
User=_USER_
WorkingDirectory=/home/_USER_/go/src/github.com/scionproto/scion
Environment="PATH=/home/_USER_/.local/bin:/home/_USER_/go/bin:/usr/local/go/bin:/home/_USER_/bin:/home/_USER_/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin" "GOPATH=/home/_USER_/go"
ExecStart=/usr/bin/scionupgrade.sh

[Install]
WantedBy=multi-user.target