client
dev tun
proto udp
remote {{.ServerIP}} 1194
resolv-retry infinite
nobind
persist-key
persist-tun
comp-lzo
verb 3
mute 10
<ca>
{{.CACert}}</ca>
<cert>
{{.ClientCert}}</cert>
<key>
{{.ClientKey}}</key>
