# -*- mode: ruby -*-
# vi: set ft=ruby :
Vagrant.require_version ">= 1.9.7"

Vagrant.configure(2) do |config|
  $setup_scion = <<-SCRIPT
    echo "Downloading install script..."
    wget https://raw.githubusercontent.com/netsec-ethz/scion-coord/master/scion_install_script.sh
    chmod +x scion_install_script.sh
    echo "Install script downloaded, running it..."
    ./scion_install_script.sh -g /vagrant/gen/ -v /vagrant/client.conf -s /vagrant/scion.service \
    -z /vagrant/scion-viz.service -a ~/.bash_aliases -u /vagrant/scionupgrade.sh \
    -t /vagrant/scionupgrade -c
  SCRIPT
  config.vm.box = "scion/ubuntu-16.04-64-scion"
  # BR port forwarding not necessary for OpenVPN setup and depends on connection
  {{.PORT_FORWARDING}}
  config.vm.network "forwarded_port", guest: 31042, host: 31042, protocol: "udp"
  config.vm.network "forwarded_port", guest: 30041, host: 30041, protocol: "udp"
  config.vm.network "forwarded_port", guest: 8000, host: 8000, protocol: "tcp"
  config.vm.provider "virtualbox" do |vb|
    vb.customize [ "guestproperty", "set", :id, "/VirtualBox/GuestAdd/VBoxService/--timesync-interval", 10000 ]
    vb.customize [ "guestproperty", "set", :id, "/VirtualBox/GuestAdd/VBoxService/--timesync-set-threshold", 10000 ]
    vb.memory = "2048"
    vb.name = "SCIONLabVM"
  end
  config.vm.provision "shell", privileged: false, inline: $setup_scion
end
