<!-- Site wrapper -->
<div class="wrapper">

  <br/>
  <br/>
  <p>Welcome to SCIONLab! Your account credentials are the following:</p>

  <p><b>AccountId:</b> {{user.AccountID}}</p>
  <p><b>Secret:</b> {{user.Secret}}</p>
  <div class="alert alert-info"><p>{{vmInfo.VMText}} <span ng-if="vmInfo.ShowIP">Your registered IP address is <b>{{vmInfo.VMIP}}</b>.</span></p></div>

  <div class="alert alert-warning">
    <p>When you fill out and submit the form below, your SCIONLab VM configuration for connecting to SCIONLab AS 1-7 will be packaged
      and downloaded. Please extract the downloaded tarball in a desired location and refer to the README file inside for instructions.</p>
    <p><b>Please note:</b> SCIONLab currently requires that your machine has a public IP address and can receive UDP traffic at port 50000.</p></div>
  <br/>

  <form name="scionLabVMForm" ng-submit="generateSCIONLabVM(user)">
    <div class="form-group has-feedback">
      <input type="text" class="form-control" ng-model="user.scionLabVMIP" name="scionLabVMIP" placeholder="My host's public IP address" ng-required="true">
      <span class="form-control-feedback"></span>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-primary btn-block btn-flat">Create/Update and Download SCIONLab VM Configuration</button>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-xs-12">
        <button ng-click="removeSCIONLabVM(user)" type="button" class="btn btn-primary btn-block btn-flat btn-danger">Remove my SCIONLab VM</button>
      </div>
    </div>
  </form>
  <br/>
  <div ng-show="error" ng-model="error" class="alert alert-danger alert-dismissible">
    {{error}}
  </div>
  <div ng-if="message" class="alert alert-success alert-dismissible">
    {{message}}
  </div>

</div>
<!-- ./wrapper -->
