<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Login</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <div ng-show="error" class="alert alert-danger alert-dismissible" >
      {{error}}
    </div>
    <div ng-show="message" class="alert alert-success alert-dismissible" >
      {{message}}
    </div>

    <form name="loginForm" ng-submit="login(user)">
      <div class="form-group has-feedback">
        <input type="email" class="form-control" ng-model="user.email" name="email" placeholder="Email" ng-required="true">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" ng-model="user.password" name="password" placeholder="Password" ng-required="true">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Login</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <!-- <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
    </div> -->
    <!-- /.social-auth-links -->

    <!-- <a href="#">I forgot my password</a><br> -->
    <br>
    <div><a href="" class="text-center" ng-click="resendEmail(user.email)">Resend verification email</a></div>
    <div><a href="#/register" class="text-center">Register a new account</a></div>

  </div>
  <!-- /.login-box-body -->
</div>
