<div class="wrapper" ng-show="user">

  <div class="spacer"></div>
  <h3>Welcome to SCIONLab!</h3>

  <div ng-show="asInfos" class="alert alert-info">
    <p>
      <span ng-if="asInfos.length == 0">
        You currently have no registered SCIONLab ASes.
      </span>
      <span ng-if="asInfos.length > 0">
        You currently have <strong>{{asInfos.length}}</strong> SCIONLab AS{{asInfos.length > 1 ? "es" : ""}}.
      </span>
      <span ng-if="asInfos.length < maxASes">
        You can create up to {{maxASes}} ASes with your account.
        Please use the button below.
      </span>
      <span ng-if="asInfos.length >= maxASes">
        You have reached the maximum number of ASes and cannot create further ones.
      </span>
    </p>
  </div>

  <button ng-click="generateSCIONLabAS()" ng-hide="asInfos.length >= maxASes"
          class="btn btn-success btn-block">
    Generate a new SCIONLab AS
  </button>

  <br/>
  <div ng-show="error1" class="alert alert-danger alert-dismissible fade in">
    <button type="button" class="close" aria-label="Close" ng-click="dismissError(1)">&times;
    </button>
  {{error1}}
  </div>
  <div ng-show="message1" class="alert alert-success alert-dismissible fade in">
    <button type="button" class="close" aria-label="Close" ng-click="dismissSuccess(1)">&times;
    </button>
  {{message1}}
  </div>

  <div>
    <p>
      You can configure and download you SCIONLab AS configurations using the form below.
      Please extract the downloaded tarball in a desired location and refer to the
      README.md file inside or the <a href="https://netsec-ethz.github.io/scion-tutorials/">
      SCION tutorials</a> for instructions.
    </p>
    <p>
      If you have a static public IP address, please select that option below and specify your IP
      address and the port you want to use for the connection (default: 50000).
      Otherwise, a VPN-based setup is set up for you, such that you do not need to apply any
      further configuration.
    </p>
  </div>

  <div class="spacer"></div>

  <select class="form-control btn btn-primary dropdown-toggle" ng-model="asInfo"
          ng-options="'AS ' + x.IA for x in asInfos" ng-show="asInfos.length">
    Test Select
  </select>

  <strong>
    {{asInfo.ASText}}
  </strong>
  <form ng-show="asInfo" name="scionLabASForm">
    <div class="form-group has-feedback">
      <label>Attachment point to connect to:
        <select class="form-control dropdown-toggle" ng-model="asInfo.AP"
                ng-options="x for x in aps">
        </select></label>
      <div class="radio">
        <label><input type="radio" ng-model="asInfo.Type" value="1" >
          Install inside a virtual machine
        </label>
      </div>
      <div class="radio">
        <label><input type="radio" ng-model="asInfo.Type" value="2" >
          Install on a dedicated SCION system
        </label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" ng-model="asInfo.IsVPN" name="IsVPN">Use an OpenVPN connection for this AS</label>
      </div>
      <input type="text" class="form-control" ng-model="asInfo.IP" name="IP"
             placeholder="My host's public IP address" ng-show="!asInfo.IsVPN" ng-required="!asInfo.IsVPN"
             ng-pattern="/^(?!.*\.$)((1?\d?\d|25[0-5]|2[0-4]\d)(\.|$)){4}$/">
      <span class="form-control-feedback"></span>
      <input type="text" class="form-control" ng-model="asInfo.Label" name="Label"
             placeholder="Label for this AS">
      <input type="number" class="form-control" min="1024" max="65535" required
             ng-model="asInfo.Port" name="Port" placeholder="Port">
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div id="buttongroup" ng-class="{true:'btn-group-vertical btn-block',
        false:'btn-group btn-group-justified'}[isSmall]">
          <div ng-repeat="button in asInfo.Buttons" class="btn-group" role="group"
               ng-if="button.Hide == false">
            <button ng-click="submitForm(button.Action, user, asInfo)" ng-disabled="button.Disable"
                    class="btn btn-primary {{button.Class}}" data-toggle="tooltip"
                    title="{{button.Disable ? button.TooltipDisabled : ''}}">
              {{button.Text}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>


  <br/>
  <div ng-show="error2" class="alert alert-danger alert-dismissible fade in">
    <button type="button" class="close" aria-label="Close" ng-click="dismissError(2)">&times;
    </button>
    {{error2}}
  </div>
  <div ng-show="message2" class="alert alert-success alert-dismissible fade in">
    <button type="button" class="close" aria-label="Close" ng-click="dismissSuccess(2)">&times;
    </button>
    {{message2}}
  </div>

    <div class="spacer"></div>
</div>
